[Desktop Entry]
Name=XRally
Comment=A clone of the Rally X arcade game
Comment[pl]=Klon gry Rally X
Icon=xrally.png
Exec=/usr/X11R6/bin/xrally
Terminal=0
Type=Application
